html, body { margin: 0; padding: 0; text-align: center;}

.header-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2em;
    color: #57375A;
    text-align: center;
    line-height: 100px;
}

.sb {
    margin-right: auto; margin-left: auto; width: 300px;
    font-family: 'Open Sans';
}

.search-results {
    width: 500px;
    height: 100px;
    margin-right: auto; margin-left: auto;
    margin-top: 60px;
}
